@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: bad;
  src: url(../css/fonts/bad.TTF);
}

@font-face {
  font-family: din;
  src: url(../css/fonts/din.otf);
}

//COLORS
$color-red:#ED1D24;
$color-black: #000;
$color-white: #fff;
$color-grey: #DFDFDF;
$color-dark-red: #A21419;
