.return-home {
  padding: 100px 0 100px 0;
  background-image: url(../img/comic-background.jpg);
  background-size: cover;
  text-align: center;
  h1 {
    font-family: bad;
    font-size: 65px;
  }
}
